@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300');

:root{
    --primary-color: rgb(81, 81, 190);
    --width-break: 600px;
}

*{
    background-image: url(/lib/binary.webp);
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Comic Neue', cursive;

    
}

.navigation {
    background-color: var(--primary-color);
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.navigation h1{
    padding: 2rem;
}

section {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
#input {
    display: block;
    margin: 1rem;
    height: 15vh;
    width: 80%;
    background: chartreuse;
}

#btn-translate {
    width: 80%;
    margin: 1rem;
}

.output-down {
    margin:1rem;
}

#output{
    border: 1px solid rgb(60, 60, 190);
    display: block;
    margin: 1rem;
    height: 15vh;
    width: 80%;
}

.footer{
    background-color: var(--primary-color);
    position:fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 3rem;
    
}

.footer .p{
    display: block;
    text-align: center;
    max-width: var(--width-break);
}